.touch-section {
    padding-bottom: 90px;
.form {
    display: flex;
    flex-direction: column;
    gap: 23px;
    input, textarea {
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 4px;
        background: transparent;
        outline: 0;
        &:focus {
            border: 1px solid $color-primary;
        }
        @include text($ff, 16px, 26px, 400, $white);
        padding: 14px 16px;
        &::placeholder {
            @include text($ff, 14px, 17px, 400, $color-text);                
        }        
    }
}
    &__btn {
        @include btn;
        cursor: pointer;
        align-self: flex-start;
    }
}
